[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/cydave/zola-theme-papermod
[submodule "themes/zola-bearblog"]
	path = themes/zola-bearblog
	url = https://codeberg.org/alanpearce/zola-bearblog
